<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Java Ninja Framework • Server-side TodoMVC</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="grey-plaid-bg modern-font">
    <section id="serverside-todomvc">
      <header>
        <h1>Todos</h1>
        <h2 class="is-hidden">Create a new task</h2>
        <form method="post" action="todos" class="items-create-new">
          <input type="text" name="todo" placeholder="What needs to be done?" <#if !session.edit?has_content>autofocus="autofocus"</#if> autocomplete="off" class="text-input"/>
          <button class="is-hidden"><span class="is-hidden">Create new todo</span></button>
        </form>
      </header>
      <#if todos?has_content>
      <section class="primary">
        <h3 class="is-hidden">Mark all completed</h3>
        <form method="post" action="complete" class="items-mark-all-completed">
          <button class="icon angle-double down <#if allCompleted>is-active</#if>"><span class="is-hidden">Mark all completed</span></button>
        </form>
        <h2 class="is-hidden">List of ${session.filter} tasks:</h2>
        <ul class="items-list">
        <#list todos as item>
          <#if session.edit != item.id>
          <li class="item clearfix">
            <form method="post" action="todos/${item.id}/toggle" class="item-toggle-completed">
              <button class="icon check <#if item.status == 'completed'>is-active</#if>"><span class="is-hidden">Mark as ${item.toggle}</span></button>
            </form>
            <a href="?edit=${item.id}" class="item-text">${item.todo}</a>
            <form method="post" action="todos/${item.id}/delete" class="item-delete">
              <button class="icon cross"><span class="is-hidden">Delete</span></button>
            </form>
          </li>
          <#else>
          <li class="item editing clearfix">
            <form method="post" action="todos" class="item-edit">
              <input type="hidden" name="id" value="${item.id}" />
              <input type="hidden" name="status" value="${item.status}" />
              <input type="text" name="todo" value="${item.todo}" autofocus="autofocus" autocomplete="off" class="item-text" />
            </form>
          </li>
          </#if>
        </#list>
        </ul>
      </section>
      </#if>
      <#if hasTodos>
      <section class="secondary">
        <h3 class="is-hidden">Current status</h3>
        <p class="items-active-count"><strong>${activeCount}</strong> <#if activeCount gt 1>items<#else>item</#if> left</p>
        <h3 class="is-hidden">Filter task list</h3>
        <ul class="items-filter-selection">
          <li><a href="?filter=all"       class="<#if session.filter == 'all'       >is-active</#if>">All</a></li>
          <li><a href="?filter=active"    class="<#if session.filter == 'active'    >is-active</#if>">Active</a></li>
          <li><a href="?filter=completed" class="<#if session.filter == 'completed' >is-active</#if>">Completed</a></li>
        </ul> 
        <#if completedCount gt 0>
        <h3 class="is-hidden">Clear completed tasks</h3>
        <form method="post" action="clear" class="items-clear-completed is-inline">
          <button class="button embossed"><span>Clear completed (${completedCount})</span></button>
        </form>
        </#if>
      </section>
      </#if>
    </section>
    <footer>
      <h4 class="is-hidden">Help</h4>
      <p>Click on the text to edit a todo.</p>
      <h4 class="is-hidden">About the Server-side TodoMVC application</h4>
      <p>Created by <a href="http://github.com/olle">Olle Törnström</a></p>
      <p>Part of <a href="http://github.com/olle/serverside-todomvc">Server-side TodoMVC</a></p>
    </footer>
    <!-- Look ma no JavaScript! -->
  </body>
</html>
