<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description"
    content="Helping you remember or select a server-side MV* framework - Todo apps for Spring Boot, Flask, PHP and many more">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Java Spark Mustache • Server-Side TodoMVC</title>
  <link rel="stylesheet" href="style.css">
  <!-- Look mom, no JavaScript! -->
</head>

<body>
  <main>
    <h1>Todos <small title="{{activeCount}} Active items">{{activeCount}}</small></h1>
    <form action="controls" method="post">
      <button name="clear" value="completed" title="Clear {{completedCount}} completed">{{completedCount}} Completed • Clear</button>
      {{^hidden}}
      <button name="hide" value="completed" title="Hide completed todo items">Hide</button>
      {{/hidden}}
      {{#hidden}}
      <button name="show" value="completed" title="Show completed todo items">Show</button>
      {{/hidden}}
    </form>


    <form action="todos" method="post">
      <label for="todo">Todo</label>
      <!--
          TODO: Take care to remove the `autofocus` attribute, if there is a
                todo item currently being edited.
      -->
      <input placeholder="What needs to be done?" autofocus required autocomplete="off" name="todo" id="todo" />
    </form>

    <form id="todo-item" method="post" action="todo"></form>
    <ul>
      {{#active}}
        {{#editing}}
        <li>
          <button name="complete" value="{{id}}" form="todo-item" title="Mark completed"></button>
          <form class="inline" method="post" action="todos/{{id}}">
            <input type="hidden" name="id" value="{{id}}" />
            <input name="update" value="{{todo}}" autofocus required autocomplete="off" />
          </form>
        </li>
        {{/editing}}
        {{^editing}}
        <li>
          <button name="complete" value="{{id}}" form="todo-item" title="Mark completed"></button>
          <button name="edit" value="{{id}}" form="todo-item" title="Click to edit">{{todo}}</button>
          <button name="delete" value="{{id}}" form="todo-item" title="Delete todo item">&#x2715;</button>
        </li>
        {{/editing}}
      {{/active}}
      {{^hidden}}
        {{#completed}}
        <li>
          <button name="revert" value="{{id}}" form="todo-item" title="Mark as active"></button>
          <span>{{todo}}</span>
          <button name="delete" value="{{id}}" form="todo-item" title="Delete todo item">&#x2715;</button>
        </li>
        {{/completed}}
      {{/hidden}}
    </ul>
  </main>
  <footer>
    <em>Click on the text to edit a todo.</em>
    <p>
      Template by <a href="https://github.com/olle">Olle Törnström</a>,
      inspired by the original <a href="https://todomvc.com">TodoMVC</a> from
      <a href="http://github.com/sindresorhus">Sindre Sorhus</a>.
    </p>
    <p>
      Created by <a href="http://github.com/olle">Olle Törnström</a>.
    </p>
    <p>
      Part of <a href="http://github.com/olle/serverside-todomvc">Server-Side TodoMVC</a>
    </p>
  </footer>
</body>

</html>