<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description"
    content="Helping you remember or select a server-side MV* framework - Todo apps for Spring Boot, Flask, PHP and many more">
  <!--
    ****************************************************************************

    Server-side TodoMVC - Example Template (v4)

    This is the template that any Server-side TodoMVC example implementation may
    use. It aims to be semantic and beautifully styled out-of-the-box, in order
    to provide the same user experience in each Server-Side TodoMVC
    implementation.

    How to use:

    It's easy. Make sure to serve this file from your server, as-is. You should
    now be able to se the full logic-less TodoMVC web application.

    Now your job is to read through this HTML-file and solve each of the TODO
    assignments. It should be pretty straight forward.

    Throughout the HTML there are {variable} placeholders. These may not
    be the exact variables to interpolate, but rather hints at what type of
    information that is required. Feel free to mess around and modify anything
    to better suite your implementation. Also URL/URIs and form handlers will
    need to be adapted.

    And remember - no JavaScript!

    Good luck and happy coding!

    ****************************************************************************
    -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
      TODO: Change the title placeholders to the appropriate language and framework
            (or configuration) of your example.
  -->
  <title>{Language} {Framework} {Other} • Server-Side TodoMVC</title>
  <link rel="stylesheet" href="/style.css">
  <!-- Look mom, no JavaScript! -->
</head>

<body>
  <main>

    <!--
        TODO: Replace {active-count} with the number of not yet completed
              todo items.
    -->
    <h1>Todos <small title="{active-count} Active items">{active-count}</small></h1>
    <form action="controls" method="post">
      <!--
          TODO: Replace {completed-count} with the number of todo items marked
                completed.
      -->
      <button name="clear" value="completed" title="Clear {completed-count} completed">{completed-count} Completed • Clear</button>

      <!--
          TODO: Render the hide/show button depending on the current state of
                such a filter, to either show completed items or not.
      -->
      <button name="hide" value="completed" title="Hide completed todo items">Hide</button>
      <button name="show" value="completed" title="Show completed todo items">Show</button>
    </form>


    <!--
        TODO: When this form is posted, a new todo item should be created and
              added to the todo-list, as an active item.
    -->
    <form action="todos" method="post">
      <label for="todo">Todo</label>
      <!--
          TODO: Take care to remove the `autofocus` attribute, if there is a
                todo item currently being edited.
      -->
      <input placeholder="What needs to be done?" autofocus required autocomplete="off" name="todo" id="todo" />
    </form>


    <!--
        TODO: This form is posted with action/id pairs, an needs to be handled
              for completing, re-activating, deleting and starting to edit a
              todo item.
    -->
    <form id="todo-item" method="post" action="todo"></form>
    <ul>
      <!--
          TODO: First render from a list of all active todo items.
      -->

      <li> <!-- TODO: If the todo item is being edited use this:  -->
        <button name="complete" value="{todo-id}" form="todo-item" title="Mark completed"></button>
        <form class="inline" method="post" action="todos/{todo-id}">
          <input type="hidden" name="id" value="{todo-id}" />
          <input name="update" value="{todo-text}" autofocus required autocomplete="off" />
        </form>
      </li>

      <li> <!-- TODO: Otherwise render the todo item like this: -->
        <button name="complete" value="{todo-id}" form="todo-item" title="Mark completed"></button>
        <button name="edit" value="{todo-id}" form="todo-item" title="Click to edit">{todo-text}</button>
        <button name="delete" value="{todo-id}" form="todo-item" title="Delete todo item">&#x2715;</button>
      </li>

      <!--
          TODO: Then render the list of todo items marked as completed, unless
                the current filter is toggled to hide completed.
      -->
      <li>
        <button name="revert" value="{todo-id}" form="todo-item" title="Mark as active"></button>
        <span>{todo-text}</span>
        <button name="delete" value="{todo-id}" form="todo-item" title="Delete todo item">&#x2715;</button>
      </li>
    </ul>
  </main>
  <footer>
    <em>Click on the text to edit a todo.</em>
    <p>
      Template by <a href="https://github.com/olle">Olle Törnström</a>,
      inspired by the original <a href="https://todomvc.com">TodoMVC</a> from
      <a href="http://github.com/sindresorhus">Sindre Sorhus</a>.
    </p>
    <!--
      TODO: Replace the paragraph below with a link to you or your
            homepage, person, repository or organization. -->
    <p>
      Created by <a href="http://todomvc.com">you</a>.
    </p>
    <p>
      Part of <a href="http://github.com/olle/serverside-todomvc">Server-Side TodoMVC</a>
    </p>
  </footer>
</body>

</html>