<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_2.xsd"
  version="3.2">

  <display-name>Java Servlet • Server-side TodoMVC</display-name>

  <servlet>
    <servlet-name>TodoMVC</servlet-name>
    <servlet-class>
      com.studiomediatech.serverside.todomvc.servlet.TodoMVC
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TodoMVC</servlet-name>
    <url-pattern>/todos</url-pattern>
    <url-pattern>/todos/*</url-pattern>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <!-- Dummy file -->
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
